/******************************************************************
STYLESHEET: DIAMOND

******************************************************************/

.diamond {
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;

  &--light {
    background-color: $c-base;
    padding: $m-medium 5% $m-medium 5%;
  }

  &-img {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    background-color: $red;

    &:hover {

        h2 {
        }

        p {
            opacity: 1;
        }

        img {
            opacity: 1;
        }
    }

    &--reverse {
        width: 100%;
        opacity: 0.7;
        @include prefix( transition, opacity 0.1s ease-in );
    }
  }

  &-grid {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &-item {
        position: relative;
    }
  }
}

@include small {
    .diamond {
        padding-top: 130px;
        padding-bottom: 180px;

         &::after {
            content: "";
            display: table;
            @include prefix( transform, rotate(45deg) );
            position: absolute;
            z-index: -10;
            left: 50%;
            top: 120px;
        }

        &-grid {
            width: 700px;
            height: 700px;
            margin: 100px auto;
            position: relative;
            padding-top: 100px;

            &-item {
                list-style: none;
            }
        }

        &-img {
            width: 244px;
            height: 244px;
            display: block;
            position: absolute;
            text-decoration: none;
            @include prefix( transform, rotate(45deg) );
            max-height: 1000px;

            &--reverse {
                @include prefix( transform, rotate(-45deg) );
                width: 400px;
                height: 400px;
                position: absolute;
                top: 50%;
                margin-top: -200px;
                left: 50%;
                margin-left: -200px;
            }

            &--first {
                left: 50%;
                margin-left: -122px;
            }

            &--second {
                top: 177px;
                left: 51px;
            }

            &--third {
                top: 177px;
                right: 51px;
            }

            &--fourth {
                left: 50%;
                margin-left: -122px;
                top: 355px;
            }
        }

        &--light {
            background-color: $c-dark;

            &::after {
                background-color: $c-base;
                color: $c-light;
            }
        }

        &--big {

            &::after {
                width: 500px;
                height: 500px;
                margin-left: -250px;
            }
        }

        &-arrow {
            position: absolute;
            top: 15px;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 50px solid $black;
            left: 50%;
            margin-left: -50px;

            &::after {
                content: "";
                display: table;
                position: absolute;
                top: 50px;
                width: 0;
                height: 0;
                border-left: 50px solid transparent;
                border-right: 50px solid transparent;
                border-top: 50px solid $red;
                left: 50%;
                margin-left: -50px;
            }
        }

        &-bg {
            position: absolute;
            top: 120px;
            width: 0;
            height: 0;
            z-index: -10;

            &--left {
                border-top: 250px solid transparent;
                border-bottom: 250px solid transparent;
                border-left: 250px solid $c-medium;
                left: 0;
            }

            &--right {
                border-top: 250px solid transparent;
                border-bottom: 250px solid transparent;
                border-right: 250px solid $c-medium;
                right: 0;
            }

            &--bottom {
                width: 500px;
                height: 500px;
                @include prefix( transform, rotate(45deg) );
                background-color: $c-medium;
                left: 50%;
                margin-left: -250px;
                top: 730px;
            }
        }
    }
}

@include medium {
    .diamond {
        padding-top: 200px;
        padding-bottom: 200px;

        &::after {
            top: 180px;
        }

        &--big {

            &::after {
                width: 600px;
                height: 600px;
                margin-left: -300px;
            }
        }

        &-grid {
            padding-top: 200px;
            height: 1000px;
        }

        &-img {
            width: 280px;
            height: 280px;

            &--reverse {
                width: 600px;
                height: 600px;
                margin-top: -300px;
                margin-left: -300px;
            }

            &--first {
                margin-left: -140px;
            }

            &--second {
                width: 360px;
                height: 360px;
                top: 165px;
                left: -91px;
            }

            &--third {
                width: 360px;
                height: 360px;
                top: 165px;
                right: -91px;
            }

            &--fourth {
                margin-left: -140px;
                top: 410px;
            }
        }

        &-arrow {
            top: 54px;
            border-left: 70px solid transparent;
            border-right: 70px solid transparent;
            border-bottom: 70px solid $black;
            margin-left: -70px;

            &::after {
                top: 70px;
                border-left: 70px solid transparent;
                border-right: 70px solid transparent;
                border-top: 70px solid $red;
                margin-left: -70px;
            }
        }

        &-bg {
            top: 230px;

            &--bottom {
                width: 600px;
                height: 600px;
                margin-left: -300px;
                top: 900px;
            }
        }
    }
}

@include large {
    .diamond {
        padding-top: 220px;
        padding-bottom: 200px;

        &::after {
            top: 200px;
        }

        &--big {

            &::after {
                width: 800px;
                height: 800px;
                margin-left: -400px;
            }
        }

        &-grid {
            padding-top: 300px;
            height: 1200px;
        }

        &-img {
            width: 360px;
            height: 360px;

            &--reverse {
                width: 800px;
                height: 800px;
                margin-top: -400px;
                margin-left: -400px;
            }

            &--first {
                margin-left: -180px;
            }

            &--second {
                width: 420px;
                height: 420px;
                top: 235px;
                left: -167px;
            }

            &--third {
                width: 420px;
                height: 420px;
                top: 235px;
                right: -167px;
            }

            &--fourth {
                margin-left: -180px;
                top: 530px;
            }
        }

        &-arrow {
            top: 33px;
            border-left: 90px solid transparent;
            border-right: 90px solid transparent;
            border-bottom: 90px solid $black;
            margin-left: -90px;

            &::after {
                top: 90px;
                border-left: 90px solid transparent;
                border-right: 90px solid transparent;
                border-top: 90px solid $red;
                margin-left: -90px;
            }
        }

        &-bg {
            top: 50px;

            &--left {
                border-top: 550px solid transparent;
                border-bottom: 550px solid transparent;
                border-left: 550px solid $c-medium;
            }

            &--right {
                border-top: 550px solid transparent;
                border-bottom: 550px solid transparent;
                border-right: 550px solid $c-medium;
            }

            &--bottom {
                width: 800px;
                height: 800px;
                margin-left: -400px;
                top: 1140px;
            }
        }
    }
}