/******************************************************************
STYLESHEET: HEADING

******************************************************************/

.heading {
    font-weight: 400;

    &-label {
        background-color: $red;
        color: $black;
        margin: 0;
        padding-top: $m-small;
        padding-bottom: $m-small;
    }

    &-detailwrapper {
        background-color: $c-base;
        text-align: left;
        padding: $m-large 5%;
    }

    &-detaillabel {
        margin: 0;
        padding-top: $m-small;
        color: $black;
        padding-bottom: $m-small;
        background-color: $c-base;
        font-family: $f-base;
        @include fontsize-11;
    }

    &--high {
        display: block;
        color: $red;
    }
}

@include small {
    .heading {
        position: relative;
        z-index: 20;

        &-label {
            position: absolute;
        }

        &-detailwrapper {
            float: right;
            margin-top: 10em;
            padding-right: 10%;
            padding-left: $m-large;
            width: 80%;
        }

        &--left {
            left: 0;
            padding-left: 10%;
            padding-right: $m-medium;
        }

        &--right {
            right: 0;
            padding-right: 10%;
            padding-left: $m-medium;
        }

        &--detail {
            top: $m-medium;
            padding-left: 30%;
        }
    }
}

@include medium {
    .heading {

        &--left {
            padding-left: 15%;
        }

        &--right {
            padding-right: 15%;
        }

        &-detailwrapper {
            margin-top: 16em;
            padding-right: 15%;
            padding-left: $m-large;
            width: 70%;
        }

        &--detail {
            top: 2em;
            padding-left: 25%;
        }
    }
}

@include large {
    .heading {

        &-detailwrapper {
            margin-top: 20em;
            padding-right: 15%;
            padding-left: $m-large;
            width: 70%;

            & .text {
                max-width: 850px;
            }
        }

        &-detaillabel {
            @include fontsize-14;
        }

        &--detail {
            top: 2em;
            padding-left: 25%;
        }
    }
}