/******************************************************************
STYLESHEET: ICON

******************************************************************/

.icon {
    @include fontsize-18;
    cursor: pointer;
    padding: $m-small;
    background-color: $red;
    width: 55px;
    height: 55px;
    text-align: center;
    color: $c-base;
    display: inline-block;
    @include prefix( transform, rotate(45deg) );
    margin-right: $m-medium;
    position: relative;
    @include prefix( transition, all 0.1s ease-in-out );

    &::before {
        position: absolute;
        display: inline-block;
        @include prefix( transform, rotate(-45deg) );
        top: 50%;
        left: 50%;
        margin-left: -14px;
        margin-top: -14px;
    }

    &-wrapper {
        margin-bottom: $m-large;
    }

    &:hover {
        color: $red;
        background-color: $c-base;
        box-shadow: 0 0 0 3px $red;
        @include prefix( transition, all 0.1s ease-in-out );
    }
}

@include medium {
    .icon {
        @include fontsize-20;
        width: 65px;
        height: 65px;

        &::before {
            margin-left: -16px;
            margin-top: -16px;
        }
    }
}

@include large {
    .icon {
        @include fontsize-24;
        width: 80px;
        height: 80px;

        &::before {
            margin-left: -19px;
            margin-top: -19px;
        }
    }
}