/******************************************************************
STYLESHEET: DEFAULTS

******************************************************************/

html {
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

body {
    font-family: $f-base;
    color: $c-base;
    background-color: $c-dark;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::-moz-selection {
    background: $red;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $red;
    color: $white;
    text-shadow: none;
}

hr {
    display: block;
    border: 0;
    border-top: 3px solid $c-medium;
    margin: 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

textarea {
    resize: vertical;
}

figure {
    margin: 0;
}