/******************************************************************
STYLESHEET: DEFAULTS

******************************************************************/

html {
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

body {
    font-family: $f-base;
    color: $c-base;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $c-medium;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}