/******************************************************************
STYLESHEET: STYLE

    > BREAKPOINTS
    > TYPOGRAPHY

******************************************************************/


// BREAKPOINTS
/* USAGE: @include medium {...}; */
@mixin small {
    @media only screen and (min-width: #{$w-small}) {
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: #{$w-medium}) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: #{$w-large}) {
        @content;
    }
}


// PREFIXES
/* USAGE: @include prefix(transform, rotate(42deg), webkit ms); */
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}


// TYPOGRAPHY
/* USAGE: @include font-size(2.4); */
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin line-height($sizeValue: 1.6) {
  line-height: ($sizeValue * 10) + px;
  line-height: $sizeValue + rem;
}

@mixin letter-spacing($sizeValue: 1.6) {
  letter-spacing: ($sizeValue * 10) + px;
  letter-spacing: $sizeValue + rem;
}