/******************************************************************
STYLESHEET: VARIABLES

    > COLORS
    > FONTS
    > BREAKPOINTS
    > MARGINS/PADDINGS

This is the place for all variables.
******************************************************************/

// COLORS
$white:      #fff;
$black:      #20242b;
$grey-dark:  #282d36;
$grey-light: #8d99ad;
$red:        #d75056;
$red-light:  #f46b6b;

$c-dark:   $black;
$c-medium: $grey-dark;
$c-light:  $grey-light;

$c-base: $white;


// FONTS
$open-sans: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
$lobster: 'Lobster', 'Helvetica', 'Arial', 'sans-serif';

$f-base:    $open-sans;
$f-heading: $lobster;
$f-link:    $open-sans;
$f-text:    $open-sans;


// BREAKPOINTS
$w-small:  730px;
$w-medium: 1080px;
$w-large:  1320px;


// MARGINS/PADDINGS
$m-small:  0.5em;
$m-medium: 1em;
$m-large:  3em;